extends ../layouts/default

block content
	.container-fluid
		.row(style="display:flex;justify-content:center;align-items:center; background-image: url('/images/application.jpg'); min-height: 1000px; background-size: cover;")
					div(style="padding: 20px; width: 100%; margin-top: 100px; background-color: RGBA(80, 98, 127, .6); color: #e2e2da;")
						h2.heading(style="font-size: 4em;") Job Application Tips
		.row(style="margin: 20px;")
			.container
				h2 Job Application Tips
				ol(style="font-size: 20px;")
					li Research about the job you are applying for. 
					li Fill in all the fields with readable and neat handwriting. 
					li If there is any confusion about the application, contact the hiring manager, they can help you out with the application. 
					li Use a spell checker if you are filling out on an online application, silly spelling mistakes give a bad impression. 
					li Provide updated information in your application and attached documents.
					li Clean up your public social media profiles, since most companies will check your online status.
					li Apply using an online application if possible. Most people rush when filling out applications, and are likely to make mistakes. Online applications make it easy to fix mistakes. 
					li Choose a reference, that will give you a positive recommendation. 
					li Make sure all fields are filled in, blanks never look good on an application. Also, do not falsify information.  
					li After filling in applications, reread over the application. Ask someone to read it over.
		.row
			h1 Some Useful Videos to Review:
			iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/sWo9VHZChG0?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
			iframe(width='560', height='315', src='https://www.youtube-nocookie.com/embed/sWo9VHZChG0?rel=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
