extends ../layouts/default

block intro
	.container
		h1 Job Results
	
block content
	.container
		h1 This page is still under construction! Try Entering teacher, artist, or surgeon for sample results! Follow us on twitter @VocationToday to get alerts!
		each job in jobs
				.row
					.col.s12.m7
						.card
							.card-image
								img(src=job._.image.fit(750,450))
								span.card-title 
									=job.title
							.card-content
								!=job.content.brief
							.card-action
								a(href='#') Register Now!

