extends ../layouts/default

block intro
	.container
		h1 Job Results
	
block content
	.container
		each job in jobs
				.row
					.col.s12.m7
						.card
							.card-image
								img(src=job._.image.fit(750,450))
								span.card-title 
									=job.title
							.card-content
								= !{job.content.brief}
							.card-action
								a(href='#') Register Now!

