extends ../layouts/default

block content
	.container-fluid
		.row(style="display:flex;justify-content:center;align-items:center; background-image: url('/images/resume.jpg'); min-height: 1000px; background-size: cover;")
			.col-md-4
				h2.heading(style="font-size: 4em;") Resume Templates and Tips

					
		.row(style="background-color: #eaaa1f; padding-top: 50px; padding-bottom: 50px;")
			.row
				.container
					.col-sm-3
						a(href="/templates/resume 1.dotx")
							img(src="/images/resume1.jpg", style="width: 100%")
					.col-sm-3
						a(href="/templates/resume 2.dotx")
							img(src="/images/resume2.jpg", style="width: 100%")
					.col-md-6
						h1(style="margin-top: 70px;") Templates for Résumés and Coverletters
			.row
				.container
					.col-md-3
						a(href="/templates/cover letter.dotx")
							img(src="/images/coverletter1.jpg", style="width: 100%")
					.col-md-3
						a(href="/templates/cover letter.docx")
							img(src="/images/coverletter2.jpg", style="width: 100%")
		.row
			.container(style="padding: 15px;")
				ol(style="font-size: 20px;")
					li Formatting
						ol
							li Use a logical format and wide margins, clean type and clear headings
							li Selectively apply bold and italic typeface that help guide the reader's eyes.
							li Use bullets to call attention to important points (i.e. accomplishments)
					li Full contact information 
					li Check for grammar and spelling errors 
					li Quantify accomplishments 
					li Keep resume updated 
					li Use our professionally designed resume templates. To use our templates, please follow the following steps:
						ol
							li Download our templates with the links above.
							li Open them in Word or Google Docs
							li Change the fields to match your information, such as name, addresses, and work experience.
					li Make sure your resume is viewable by everyone by converting it to a PDF

