extends ../layouts/default

block content
	.container-fluid
		.row(style="display:flex;justify-content:center;align-items:center; background-image: url('/images/jobsearchheader.png'); min-height: 400px; background-size: cover;")
            .col-md-4
                h2.heading(style="font-size: 4em;") FIND YOUR JOB
                br
                h1.heading(style="font-size: 6em; text-decoration: underline;") NOW
			.col-md-4(style="")
				input
				br
				input
				br
				button
					
		.row(style="background-color: #eaaa1f; padding-top: 50px; padding-bottom: 50px;")
			.row
				.container
					.col-md-6
						img(src="/images/11.png", style="width: 100%")
					.col-md-6
						img(src="/images/12.png", style="width: 100%")
			.row
				.container
					.col-md-6
						img(src="/images/21.png", style="width: 100%")
					.col-md-6
						img(src="/images/22.png", style="width: 100%")